body {
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 600px) {
  main {
    display: flex;
  }
}

.section1 {
  border-top: 2px solid black;
  color: gray;
  font-size: 1.2em;
  margin-top: 1em;
}

.section1 h1 {
  padding-left: .65em;
}

.section1 p {
  padding-left: 1em;
}

.section2 {
  border-top: 2px solid black;
  color: gray;
  font-size: 1.2em;
  margin-top: 1em;
}

.section2 h1 {
  padding-left: .65em;
}

.section2 p {
  padding-left: 1em;
}
