---
layout: wide
title: Advanced RWD Calendar
---
<p class="section-introduction">You can find the class schedule below. The dates and plans are subject to change.  I'll notify you of any modifications during class or via email.</p>

<h2 class="part">Discovery/Planning and Sprint #1</h2>
{% for classes in site.classes_arwd %}
	{% if classes.part == '1' and classes.semester == 'spring-2018' %}
	  {% include class.html %}
	{% endif %}
{% endfor %}


<h2 class="part">Part 2: Sprint #2</h2>
{% for classes in site.classes_arwd %}
	{% if classes.part == '2' and classes.semester == 'spring-2018' %}
	  {% include class.html %}
	{% endif %}
{% endfor %}

<h2 class="part">Part 3: Sprint #3</h2>
{% for classes in site.classes_arwd %}
	{% if classes.part == '3' and classes.semester == 'spring-2018' %}
	  {% include class.html %}
	{% endif %}
{% endfor %}

<h2 class="part">Part 4: Sprint #4</h2>
{% for classes in site.classes_arwd %}
	{% if classes.part == '4' and classes.semester == 'spring-2018' %}
	  {% include class.html %}
	{% endif %}
{% endfor %}

<h2 class="part">Part 5: Sprint #5</h2>
{% for classes in site.classes_arwd %}
	{% if classes.part == '5' and classes.semester == 'spring-2018' %}
	  {% include class.html %}
	{% endif %}
{% endfor %}

<hr>

<a href="/advanced" class="button small">Return to Class</a>
