---
layout: wide
title: Calendar
---
<p class="section-introduction">You can find the class schedule below. The dates and plans are subject to change.  I'll notify you of any modifications during class or via email.</p>

<h2>Part 1: Principles of RWD (HTML)</h2>
{% for classes in site.classes %}
	{% if classes.part == '1' and classes.semester == 'fall-2016' %}
	  {% include class.html %}
	{% endif %}
{% endfor %}


<h2>Part 2: Content Strategy and Mobile-First</h2>
{% for classes in site.classes %}
	{% if classes.part == '2' and classes.semester == 'fall-2016' %}
	  {% include class.html %}
	{% endif %}
{% endfor %}

<h2>Part 3: Visual Design and Development (CSS)</h2>
{% for classes in site.classes %}
	{% if classes.part == '3' and classes.semester == 'fall-2016' %}
	  {% include class.html %}
	{% endif %}
{% endfor %}

<h2>Part 4: Prototyping, Testing and Style Guides</h2>
{% for classes in site.classes %}
	{% if classes.part == '4' and classes.semester == 'fall-2016' %}
	  {% include class.html %}
	{% endif %}
{% endfor %}

<h2>Final Exam Period</h2>
{% for classes in site.classes %}
	{% if classes.part == '5' and classes.semester == 'fall-2016' %}
	  {% include class.html %}
	{% endif %}
{% endfor %}

<hr>

<a href="/class" class="button small">Return to Class</a>
