<footer class="group">
	<div class="footer-contact-information">
			<p><a href="http://www.kent.edu/cci">College of Communication & Information</a></p>
			<p><a href="http://www.ideabasekent.com">IdeaBase: Powered by Kent State Students</a></p>
			<a class="footer-instructor" href="mailto:challahan@gmail.com">Instructor: Christopher Hallahan</a>
			<a href="http://www.twitter.com/rwdkent">Follow @RWDkent on Twitter</a>
			<a href="https://github.com/KentStateWeb/rwd/tree/gh-pages">View this Site on GitHub</a>
	</div>
	<div class="footer-logo">
			<img src="{{ site.baseurl }}/img/Kent-State-Logo-White.svg" alt="Kent State University" />
	</div>
</footer>
<script src="//use.typekit.net/gbh5snd.js"></script>
<script>try{Typekit.load();}catch(e){}</script>	
</body>
</html>