<footer>
			<p class="footer-heading">Instructor</p>
			<a class="footer-instructor" href="mailto:challahan@gmail.lcom">Christopher Hallahan</a>
			<p><a href="http://www.kent.edu/cci">College of Communication & Information</a></p>
			<p><a href="http://www.ideabasekent.com">IdeaBase: Powered by Kent State Students</a></p>
			<img src="img/Kent-State-Logo-White.svg" alt="Kent State University" />
</footer>
<script src="//use.typekit.net/gbh5snd.js"></script>
<script>try{Typekit.load();}catch(e){}</script>	
</body>
</html>