<h1>{{ page.title }}</h1>

<a class="button small" href="/class/groups">Back to All Groups</a>


<dl>
	<dt>Client:</dt>
	<dd>{{ page.client }}</dd>
</dl>


<dl>
	<dt>Members:</dt>
	<dd>{{ page.members }}</dd>
</dl>

<dl>
	<dt>GitHub Repository:</dt>
	<dd><a href="{{ page.link }}">{{ page.link }}</a></dd>
</dl>

<dl>
	<dt>Project Hub:</dt>
	<dd><a href="{{ page.livelink }}">{{ page.livelink }}</a></dd>
</dl>

{% if page.pm %}
<dl>
	<dt>Project Management Sheet:</dt>
	<dd><a href="{{ page.pm }}">View Project Management Sheet</a></dd>
</dl>
{% endif %}

<hr>

<p>{{ page.description }}</p>
