---
layout: wide
title: Assignments
---

<p class="introduction">You can find the assignments and projects below.</p>

<a href="/class" class="button small">Return to Class</a>

<h2>Mini Assignments</h2>
<ul>
{% assign items = site.assignments | sort: 'date' %}
{% for item in items %}
	{% if item.type == 'mini' %}  
	  {% include assignments.html %}
	{% endif %}
{% endfor %}
</ul>
<hr>
<h2>Project Assignments</h2>
<a class="button small" href="/class/assignments/project-summary.html">Semester Project Overview</a>
<ul>
{% assign items = site.assignments | sort: 'date' %}
{% for item in items %}
	{% if item.type == 'project' %}
	  {% include assignments.html %}
	{% endif %}
{% endfor %}
</ul>